<p style="color: green"><%= notice %></p>

<%= render @paciente %>

<div>
  <%= link_to "Editar esse paciente", edit_paciente_path(@paciente) %> |
  <%= link_to "Voltar para os pacientes", pacientes_path %><br>
  <%= link_to "Adicionar um médico", medicos_path%><br>

  <!-- %= button_to "Destroy this paciente", @paciente, method: :delete %> -->
</div>
