<p style="color: green"><%= notice %></p>

<%= render @consultum %>

<div>

  <%= button_to "Editar esta consulta", edit_consultum_path(@consultum), method: :get, class: "btn btn-primary" %>
  <br>
  <%= button_to "Remover esta consulta", @consultum, method: :delete %>
  <br>
  <%= button_to "Voltar", consulta_path, method: :get, class: "btn btn-secondary" %>
</div>
