<p style="color: green"><%= notice %></p>

<%= render @medico %>

<div>
  <%= button_to "Editar este medico", edit_medico_path(@medico), method: :get, class: "btn btn-primary" %>
  <br>
  <%= button_to "Remover este medico", @medico, method: :delete %>
  <br>
  <%= button_to "Voltar", medicos_path, method: :get, class: "btn btn-secondary" %>

</div>
